nav{
    --bs-breadcrumb-divider: '>';
    margin-left: 35px;
}
.breadcrumb>li{
    margin-right: 0;
}
.check{
    /* border:3px solid blue; */
    padding: 0;
}
#autoFill{
    padding: 0;text-align: center;

}
.try{
    /* border:3px solid green; */
    height: 350px;
    display: inline-block;
    margin-right:10px;
    margin:10px 10px 0 0;
    cursor: pointer;
}
.picDemo{
    width:100%;
    /* height: 80%; */
    object-fit: contain;
    background: rgb(228, 161, 161);
    /* border:3px yellow solid; */
    object-position: left;
    /* overflow: hidden; */
}
.picDemo>img{
    width:100%;
    /* border:3px red dashed; */
}
.productName{
    margin:20px 0;
}
.page{
width: 10%;
margin-left: auto;
margin-right: auto;
margin-top:20px;
margin-bottom:20px;
border:3px purple;

}
.page ul li a{
    font-size: 1.3rem;
    border:3px purple;


}