nav{
    --bs-breadcrumb-divider: '>';
    /* border:3px solid rgb(173, 255, 105); */

}
.breadcrumb>li{
    margin-right: 0;
}
.container{
    /* border:3px solid rgb(130, 211, 164); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}
.check{
    /* border:3px solid blue; */
    /* background-color: rgb(184, 93, 93); */
    width:100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#autoFill{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;


}
.try{
    /* border:3px solid green; */
    width: 32%;
    /* height: 350px; */
    display: inline-block;
    margin-right:10px;
    margin:10px 10px 0 0;
    cursor: pointer;
    text-align: center;
}
    

.picDemo{
    width:100%;
    /* height: 80%; */
    object-fit: contain;
    background: rgb(228, 161, 161);
    /* border:3px yellow solid; */
    object-position: left;
    overflow: hidden;
}
.picDemo>img{
    width:100%;
}
.picDemo>img:hover{
    transform: scale(1.1);
}

.productName{
    margin:20px 0;
}
.page{
width: 10%;
margin-left: auto;
margin-right: auto;
margin-top:20px;
margin-bottom:20px;
border:3px purple;

}
.page ul li a{
    font-size: 1.3rem;
    border:3px purple;


}